{% extends 'base.html.twig' %}

{% block body %}
    <h1>Museums list</h1>
    <div class="container">
        <div class="gallery cf">
            <div class="image">
                <figure>
                    <img src="http://images.telemetro.com/internacionales/Museo-Guggenheim-retirara-FotoTomada-FB_MEDIMA20170927_0067_31.jpg"
                         alt=""/>
                </figure>
                <figcaption>
                    Musée Guggenheim
                </figcaption>
            </div>
            <div class="image">
                <figure>
                    <img src="https://o.aolcdn.com/images/dims3/GLOB/crop/6236x3124+10+0/resize/630x315!/format/jpg/quality/85/http%3A%2F%2Fo.aolcdn.com%2Fhss%2Fstorage%2Fmidas%2Ff5941069af3e785c42035d019aaf239a%2F206279735%2Flouvre-pyramid-at-night-picture-id540091911"
                         alt=""/>
                </figure>
                <figcaption>
                    Musée du louvre
                </figcaption>
            </div>
            <div class="image">
                <figure>
                    <img src="https://assets.londonist.com/uploads/2017/01/i875/concourse.jpg" alt=""/>
                </figure>
                <figcaption>
                    British Museum
                </figcaption>
            </div>
            <div class="image">
                <figure>
                    <img src="https://news.artnet.com/app/news-upload/2015/05/Rijksmuseum.jpg" alt=""/>
                </figure>
                <figcaption>
                    Rijksmuseum
                </figcaption>
            </div>
            <div class="image">
                <figure>
                    <img src="https://ohfact2-cyberpanthers.netdna-ssl.com/wp-content/uploads/2017/04/Metropolitan-Museum-of-Art.jpg"
                         alt=""/>
                </figure>
                <figcaption>
                    Metropolitan Museum of Art
                </figcaption>
            </div>
            <div class="image">
                <figure>
                    <img src="https://cdn.getyourguide.com/img/tour_img-482154-92.jpg" alt=""/>
                </figure>
                <figcaption>
                    Musée du Prado
                </figcaption>
            </div>
            <div class="image">
                <figure>
                    <img src="https://www.telegraph.co.uk/content/dam/Travel/leadAssets/21/58/national-gallery62_2158742a.jpg?imwidth=450"
                         alt=""/>
                </figure>
                <figcaption>
                    National Gallery
                </figcaption>
            </div>
            <div class="image">
                <figure>
                    <img src="http://www.orleans-metropole.fr/fileadmin/_processed_/csm_musee_historique_archelogique_cabu_salle_3f2d397c15.jpg"
                         alt=""/>
                </figure>
                <figcaption>
                    Musée d'Histoire et d'Archéologie
                </figcaption>
            </div>

        </div>
    </div>
{% endblock %}
