{% extends 'base.html.twig' %}

{% block body %}
    <div>
        {% for current, artworks in artworksByCurrent %}
            <h2>{{ current }}</h2>
            <ul>
                {% for artwork in artworks %}
                    <li>
                        {{ artwork.title }}
                        {% for user in artwork.users if user == app.user %}
                            vu
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>

    <div class="content mt-5">
        <div class="grid">
            <a class="grid__item" href="#preview-1">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/1.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>

            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
            <a class="grid__item" href="#preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img" src="img/2.jpg" alt="Some image"/>
                    <h3 class="box__title"><span class="box__title-inner" data-hover="Madrid">Madrid</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                    <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                </div>
            </a>
    </div>
    <div class="overlay">
        <div class="overlay__reveal"></div>
        <div class="overlay__item" id="preview-1">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.It's time the tale were told of how you took a child and you made him old.were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-2">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-3">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-4">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-5">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-6">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-7">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-8">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-9">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-10">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <div class="overlay__item" id="preview-11">
            <div class="box">
                <div class="box__shadow"></div>
                <img class="box__img box__img--original" src="img/original/1.jpg" alt="Some image"/>
                <h3 class="box__title"><span class="box__title-inner">Madrid</span></h3>
                <h4 class="box__text"><span class="box__text-inner">Salvador Dali</span></h4>
                <div class="box__deco">&#10014;</div>
            </div>
            <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
        </div>
        <button class="overlay__close"><svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg></button>
    </div>
    </div>







{% endblock %}
